<!-- Bootstrap Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <div class="container">
        <a class="navbar-brand" href="/" onclick="return handleHomeNavigation()">
            <i class="fas fa-bug"></i> Azure Monitor TelReach GitHub
        </a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <!-- Dynamic dropdowns will be inserted here by JavaScript -->
            </ul>
            
            <!-- Right side buttons -->
            <ul class="navbar-nav ml-auto">
                <!-- Space for future menu items -->
            </ul>
        
        </div>
    </div>
</nav>
